<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="nav">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="container-fluid">
      <a class="navbar-brand" href="#">树洞</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="搜索" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">


          <li class="nav-item" th:if="${session.user == null}">
            <a class="nav-link" href="https://github.com/login/oauth/authorize?client_id=b255ff7c80bc017b117f&redirect_uri=http://localhost:8080/callback&scope=user&state=1">登录</a>
          </li>

          <ul class="nav justify-content-end" th:if="${session.user != null}">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/publish">发布</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">通知</a>
            </li>
          </ul>

          <li class="nav-item dropdown" th:if="${session.user != null}">

            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${session.user.getName()}"></a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

              <li><a class="dropdown-item" href="#">消息中心</a></li>
              <li><a class="dropdown-item" href="#">个人资料</a></li>
              <li><a class="dropdown-item" href="#">退出登录</a></li>
            </ul>
          </li>


        </ul>

      </div>
    </div>

  </nav>


</div>

</body>

</html>